@import url('https://fonts.googleapis.com/css2? family= Roboto & display=swap');

body{
    font-family:'Roboto','Arial';
}

.container{
    display: flex;
}
.coluna{
    border: 1px solid #E0E0E0;
    flex: 1;
}
.coluna:first-child{
    margin-right: 24px;
}
.titulo{
    color: rgb(10, 182, 182); padding: 8px;
    font-size: large;
}
.topnav{
    background-color: black;
    overflow: hidden; /*se o terxto mnão couber esconde*/
}
.topnav a{float: left; color: azure;
    text-align: center; padding: 16px;
    text-decoration: none; font-size: 17px;
}
.topnav a:hover{
    background-color: azure; color: black;
}
.topnav a.ativo{
    background-color: rgb(89, 92, 92); color: azure;
}
.topnav-right {
    float: right;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
}